.timeline {
  position: relative;
  padding: 20px 0;

  .timeline-item {
    position: relative;
    padding-left: 50px;
    margin-bottom: 30px;
    opacity: 0.5;

    &.active {
      opacity: 1;

      .timeline-marker {
        background-color: #0d6efd;
        border-color: #0d6efd;
      }
    }

    &:not(:last-child)::before {
      content: '';
      position: absolute;
      left: 14px;
      top: 30px;
      width: 2px;
      height: calc(100% + 10px);
      background-color: #dee2e6;
    }

    .timeline-marker {
      position: absolute;
      left: 0;
      top: 0;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: white;
      border: 3px solid #dee2e6;
      z-index: 1;
    }

    .timeline-content {
      h6 {
        margin-bottom: 5px;
        font-weight: 600;
      }

      p {
        margin-bottom: 0;
      }
    }
  }
}
